<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Nutricional para Bajar de Peso</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/styles.css') }}">
</head>

<body>
    <main>
        <h1>Organiza tu menú semanal con estas increibles opciones.</h1>
    </main>

    <button>
        <a href="{{ url_for('index') }}" class="a">GENERAR MENÚ</a>
    </button>
    {% block content %}
    {% endblock %}
</body>

</html>