{% extends "base.html" %}

{% block content %}
<div class='main'>

    <div class="breakfast">
        <img src="../static/desayuno.png" id="image-food" alt="Come saludable">
        <p>{{ Breakfast }}</p>
    </div>

    <div class="lunch">
        <img src="../static/almuerzo.png" id="image-food" alt="Come saludable">
        <p>{{ Lunch }}</p>
    </div>

    <div class="snack">
        <img src="../static/merienda.png" id="image-food" alt="Come saludable">
        <p>{{ Snack }}</p>
    </div>
    
    <div class="dinner">
        <img src="../static/cena.png" id="image-food" alt="Come saludable">
        <p>{{ Dinner }}</p>
    </div>

</div>

{% endblock %}