{% extends "base.html" %}

{% block content %}
<div class='main'>

    <div class="breakfast">
        <img src="../static/desayuno.png" id="image-food" alt="Come saludable">
        <p><b>Su Desayuno</b> {{ Breakfast }}</p>
    </div>

    <div class="lunch">
        <img src="../static/almuerzo.png" id="image-food" alt="Come saludable">
        <p><b>Su Almuerzo </b>{{ Lunch }}</p>
    </div>

    <div class="snack">
        <img src="../static/merienda.png" id="image-food" alt="Come saludable">
        <p><b>Su Merienda </b> {{ Snack }}</p>
    </div>
    
    <div class="dinner">
        <img src="../static/cena.png" id="image-food" alt="Come saludable">
        <p><b>Su Cena </b> {{ Dinner }}</p>
    </div>

</div>

{% endblock %}